.abs-background {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--grayscale-00), 0.2);

  z-index: 999;

  &.__open {
    display: flex;
  }
}


