<section class="brand">
  <div class="brand__header">
    <h2 class="brand__title">Let Your Business Grow</h2>
    <button class="brand__button __primary __contacts">Contact sales</button>
  </div>
  <div class="brand__content">
    <div class="brand__text">
      <h1 class="brand__heading">Your Brand Awareness Matters</h1>
      <p class="brand__description">Budss is a hustle-free solution to put your brand on any digital surface, including Instagram, Facebook, Twitter, and TikTok.</p>
    </div>
    <picture class="brand__image">
      <source srcset="./assets/imgs/brand/Networks.png" type="image/png">
      <img src="./assets/imgs/brand/Networks.png" alt="Budss Logo" class="brand__image-logo">
    </picture>
  </div>
  <div class="brand__marquee"> 
      <div class="brand__marquee-wrapper">
        <img class="brand__maruee-item" src="./assets/imgs/brand/1.png" alt=""/>
        <img class="brand__maruee-item" src="./assets/imgs/brand/2.png" alt=""/>
        <img class="brand__maruee-item" src="./assets/imgs/brand/3.png" alt=""/>
        <img class="brand__maruee-item" src="./assets/imgs/brand/4.png" alt=""/>
        <img class="brand__maruee-item" src="./assets/imgs/brand/5.png" alt=""/>
      </div>
  </div>  
</section>