<section class="metrics">
  <ul class="metrics__list">
    <li class="metrics__item">
      <h3 class="metrics__value">15%</h3>
      <p class="metrics__description">Increase in Purchase Amount</p>
    </li>
    <li class="metrics__item">
      <h3 class="metrics__value">30%</h3>
      <p class="metrics__description">Growth in Annual Sales</p>
    </li>
    <li class="metrics__item">
      <h3 class="metrics__value">10%</h3>
      <p class="metrics__description">Growth in New Customers</p>
    </li>
  </ul>
</section>