<section class="why-budss">
  <h2 class="why-budss__title">Why Budss</h2>
  <p class="why-budss__description">We Provide Advanced Payment Solutions <span class="__text-decor">To Grow Your Business</span></p>
  <div class="why-budss__container">
    <div class="why-budss__item">
      <div class="why-budss__item-wrapper">
        <h3 class="why-budss__item-title">Turn your customers into loyal influencers</h3>
        <p class="why-budss__item-description">Budss helps businesses harness the exponential power of loyal customers for acquisition and retention.</p>
      </div>
    </div>
    <div class="why-budss__item">
      <div class="why-budss__item-wrapper">
        <h3 class="why-budss__item-title">Harness the power of buying in bulk</h3>
        <p class="why-budss__item-description">Budss allows for shoppers to earn immediate cash back at their favorite stores.</p>
      </div>
    </div>
    <div class="why-budss__item">
      <div class="why-budss__item-wrapper">
        <h3 class="why-budss__item-title">Seasoned with AI and Gamification</h3>
        <p class="why-budss__item-description">AI programming creates a personalized customer journey, offering recommendations for their next purchase and optimizing rewards for after purchase.</p>
      </div>
    </div>
    <div class="why-budss__item">
      <div class="why-budss__item-wrapper">
        <h3 class="why-budss__item-title">Turn your customers into loyal influencers</h3>
        <p class="why-budss__item-description">Budss helps businesses harness the exponential power of loyal customers for acquisition and retention.</p>
      </div>
    </div>
  </div>
</section>