<!-- не стал делать через marquee, потому что устаревший тег -->
<section class="works">
  <div class="works__marquee-container">
    <div class="works__marquee-container">
      <div class="works__marquee works__marquee--1" data-direction="right">
        <span class="works__marquee-emphasis">How Budss Works</span> How Budss Works
      </div>
      <div class="works__marquee works__marquee--2" data-direction="left">
        How Budss Works <span class="works__marquee-emphasis">How Budss Works</span>
      </div>
      <div class="works__marquee works__marquee--3" data-direction="right">
        <span class="works__marquee-emphasis">How Budss Works</span> How Budss Works
      </div>
    </div>
  </div>
  <div class="works__image">
    <picture>
      <source srcset="./assets/imgs/Phone.png" type="image/png">
      <img src="./assets/imgs/Phone.png" alt="Budss decorative image">
    </picture>
  </div>
</section>