<div class="accept-cookies __open">
  <div class="accept_wrapper">
    <div class="accept__container">
      <p class="accept-cookies__text">This website uses cookies to ensure you get the best experience on our website. They also allow us to analyze user behavior in order to constantly improve the website for you.</p>
      <div class="accept-cookies__buttons">
        <button class="accept-cookies__button accept-cookies__button--accept __primary">Accept</button>
        <button class="accept-cookies__button accept-cookies__button--decline __secondary">Decline</button>
      </div>
    </div>

    <div class="accept-cookies__right-panel">
      <button class="accept-cookies__close-button">
        <img class="accept-cookies__close-icon" src="./assets/imgs/svg/FormClose.svg" alt="Close">
      </button>
     </div>
  </div>
</div>