<footer class="footer">
  <div class="footer__top">
    <nav class="footer__navigation">
      <div class="footer__logo">
        <img src="./assets/imgs/logo.png" alt="logo">
      </div>
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">For Business</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">For Customers</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Privacy Policy</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Terms of Use - Seller</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Terms of Use - Sellers & Customers</a></li>
      </ul>
    </nav>
    <div class="footer__actions">
      <button class="footer__button __primary __contacts __primary-dark">Contact sales</button>
      <div class="footer__app-stores">
        <a href="#" class="footer__app-store-link">
          <img src="./assets/imgs/appStoreLogo.png" alt="App Store">
        </a>
        <a href="#" class="footer__app-store-link">
          <img src="./assets/imgs/googlePlayLogo.png" alt="OpenAI Play">
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">© Copyright 2023, All Rights Reserved by Budss</p>
    <nav class="footer__legal">
      <ul class="footer__legal-list">
        <li class="footer__legal-item"><a class="footer__legal-link" href="#">Privacy Policy</a></li>
        <li class="footer__legal-item"><a class="footer__legal-link" href="#">Terms of Use - Seller</a></li>
        <li class="footer__legal-item"><a class="footer__legal-link" href="#">Terms of Use - Sellers & Customers</a></li>
      </ul>
    </nav>
  </div>
</footer>