<div class="abs-background __form">
  <div class="form-wrapper">
    <div class="form-wrapper__top-panel">
      <button class="form-wrapper__close-button"> <img class="form-wrapper__close-icon" src="./assets/imgs/svg/FormClose.svg" alt="Close"> </button>
    </div>
    <form class="form">
      <div class="form__field __important" >
        <h4 class="form__field-title">Name</h4>
        <input placeholder="Enter name" class="form__field-input" type="text">
        <p class="form__field-error">This field is required.</p>
      </div>
      <div class="form__field __important" >
        <h4 class="form__field-title">Name</h4>
        <input placeholder="Enter name" class="form__field-input" type="text">
        <p class="form__field-error">This field is required.</p>
      </div>
      <div class="form__field __important" >
        <h4 class="form__field-title">Email</h4>
        <input placeholder="Enter email" class="form__field-input" type="text">
        <p class="form__field-error">This field is required.</p>
      </div>
      <div class="form__field __important" >
        <h4 class="form__field-title">Phone Number</h4>
        <div class="form__input-wrapper"> <img class="form__field-icon" src="./assets/imgs/svg/flag.svg" alt="">
          <input placeholder=" + 1 900 000 00 00 " class="form__field-input  __phone" type="text"> </div>
        <p class="form__field-error">This field is required.</p>
      </div>
      <div class="form__field">
        <h4 class="form__field-title">Company</h4>
        <input placeholder="Enter company" class="form__field-input" type="text"> </div>
      <div class="form__field">
        <h4 class="form__field-title">Website/Store URL</h4>
        <input placeholder="Enter company" class="form__field-input" type="text"> </div>
      <p class="form__agreement">By submitting this form you are agreeing to Budss’s <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a></p>
      <button type="submit" class="form__button-submit __primary" disabled="">Contact sales</button>
    </form>
  </div>
</div>