<div class="abs-background __gratitude">
  <div class="gratitude">
    <div class="gratitude__top-panel">
      <button class="gratitude__close-button">
        <img class="gratitude__close-icon" src="./assets/imgs/svg/FormClose.svg" alt="Close">
      </button>
     </div>
     
    <div class="gratitude__container">
      <div class="gratitude__image">
        <img src="./assets/imgs/Gratitude.png" alt="Gratitude Image">
      </div>
      <h4 class="gratitude__title">Thank you!</h4>
      <p class="gratitude__message">Thank you, we have received your application and will contact you soon!</p>
      <button class="gratitude__button __primary">Super!</button>
    </div>
  </div>
</div>