<header class="header">
  <div class="header__top-panel">
    <button class="header__button header__button--business">For Business</button>
    <button class="header__button header__button--customer">For Customers</button>
  </div>
  <div class="header__top-bar">
    <img src="./assets/imgs/logo.png" alt="Logo" class="header__logo"/>
    <nav class="header__nav">
      <span class="header__nav-burger">
        <img src="./assets/imgs/svg/Burger.svg" alt=""/>
      </span>
      <div class="wrapper">
        <span class="header__nav-burger--close">
          <img src="./assets/imgs/svg/BurgerClose.svg" alt=""/>
        </span>
        <div class="container">
          <button class="header__nav-button nav-button--contact __primary __primary-dark __contacts">
            Contact Sales
          </button>
          <ul class="header__nav-list"> 
            <li class="header__nav-item header__nav-item--business"><a href="#">For Business</a></li>
            <li class="header__nav-item header__nav-item--customer"><a href="#">For Customers</a></li>
            <li class="header__nav-item header__nav-item--police"><a href="#">Privacy Policy</a></li>
            <li class="header__nav-item header__nav-item--seller"><a href="#">Terms Of Use - Seller</a></li>
            <li class="header__nav-item header__nav-item--customers"><a href="#">Terms of Use - Sellers & Customers</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>