@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --grayscale-00: 0, 0, 0;
  --grayscale-01: 24, 24, 24;
  --grayscale-02: 68, 68, 68;
  --grayscale-03: 185, 185, 185;
  --grayscale-04: 207, 207, 207;
  --grayscale-05: 228, 228, 228;
  --grayscale-06: 245, 245, 245;
  --grayscale-07: 255, 255, 255;
  --grayscale-darkGrey: 56, 56, 56;
  
  --primary-00: 123, 49, 212;
  --primary-01: 149, 76, 237;
  --primary-02: 166, 76, 237;
  --primary-03: 186, 139, 243;
  --primary-04: 149, 76, 237, 0.2;

  --secondary-01: 47, 219, 188;
  --secondary-02: 255, 170, 76;
  --secondary-03: 193, 219, 47;

  --additional-01: 255, 108, 45;
  --additional-02: 236, 18, 17;

  --offset: clamp(1rem, 0.0317rem + 4.1315vw, 3.75rem);
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: whte;
  /* box-shadow:  0 0 0 1px red; */
}

body {
  background-color: rgb(var(--grayscale-01));
  #root {
    display: flex;
    position: relative;
    overflow: hidden;

    max-width: 100vw;
    height: 100vh;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    box-shadow: 0 0 600px rgb(var(--grayscale-00));

    .root-wrapper  {
      width: 100%;
      min-height: 100vh;
      overflow-y: scroll;
      
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: 100px;
      
      }
      --width: 6px;
      &::-webkit-scrollbar {
        width: var(--width);
        background-color: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background: rgb(var(--grayscale-02), 0.7);
        cursor: grab;
      }
  
      &::-moz-scrollbar {
        width: var(--width);
      }
  
      &::-moz-scrollbar-thumb {
        background: rgb(var(--grayscale-02), 0.7);
        cursor: grab;
      }
  
      /* IE и Edge (частично, стилизация ограничена) */
      &::-ms-scrollbar {
          width: var(--width);
      }
  
      &::-ms-scrollbar-thumb {
          background: rgb(var(--grayscale-02), 0.7);
          cursor: grab;
      }
    }
  }
}

.header__top-bar, .header__top-panel, .hero, 
.about__feature, .metrics, .why-budss, 
.brand__content, .footer, .abs-background , .accept-cookies  {
  padding-left: var(--offset);
  padding-right: var(--offset);
}

.about__title, .about__description , .brand__header {
  margin-left: var(--offset);
  margin-right: var(--offset);
}


button {
  border: none;
  background: none;
  cursor: pointer;
  
  &.__primary, &.__secondary {
    padding: 16px 30px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    min-width: 182px;
    min-height:57px;
  }
  
  &.__primary {
    background-color: rgb(var(--primary-01));
    color: rgb(var(--grayscale-07));
    &:hover {
      background-color: rgb(var(--grayscale-01));
      &.__primary-dark {
        outline: 2px solid rgb(var(--primary-01));
      }
    }

    &:focus, &:focus-visible {
      outline: 4px solid rgb(var(--primary-03));
    }

    &:active {
      background-color: rgb(var(--primary-00));
    }

    &.__loading::before {
      background-image: url(../imgs/svg/loadingPrimary.svg);
    }
    
    &:disabled {
      background-color: rgb(var(--grayscale-03));
    }
  }

  &.__secondary {
    /* background-color: rgb(var(--grayscale-01)); */
    color: rgb(var(--grayscale-07));
    border: 2px solid rgb(var(--primary-01));

    &:hover {
      background-color: rgb(var(--primary-04));
    }
    
    &:focus, &:focus-visible {
      box-shadow: 0 0 0 4px rgb(var(--primary-04));
    }

    &:active {
      border-color:  rgb(var(--primary-02));
    }

    &.__loading::before {
      background-image: url(../imgs/svg/loadingSecondary.svg);
    }

    &:disabled {
      color: rgb(var(--grayscale-03));
      border-color: rgb(var(--grayscale-03));
    }
  }

  &.__secondary.__loading, &.__primary.__loading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(var(--grayscale-07), 0);
    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      background-size: cover;
      animation: spin 1s linear infinite;
    }
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}